name: Code Style

on:
  pull_request:
    branches: ['main']

jobs:

  goimports:
    name: check goimports
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
      - uses: chainguard-dev/actions/goimports@main

  lint:
    name: Lint
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
      - uses: golangci/golangci-lint-action@v9.0.0
        with:
          version: v2.1.6
      - uses: reviewdog/action-misspell@v1
        if: ${{ always() }}
        with:
          github_token: ${{ secrets.github_token }}
          fail_on_error: true
          locale: "US"
          exclude: ./vendor/*

      - uses: chainguard-dev/actions/trailing-space@main
        if: ${{ always() }}

      - uses: chainguard-dev/actions/eof-newline@main
        if: ${{ always() }}

      - uses: get-woke/woke-action-reviewdog@v0
        if: ${{ always() }}
        with:
          github-token: ${{ secrets.github_token }}
          reporter: github-pr-check
          level: error
          fail-level: error
