name: Test

on:
  push:
    branches: ['main']
  pull_request:
    branches: ['main']

jobs:

  test:
    strategy:
      matrix:
        go-version: [1.14.x, 1.15.x, 1.16.x, 1.17.x]

    name: Unit Tests
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          go-version: ${{ matrix.go-version }}

      - run: go test -coverprofile=coverage.txt -covermode=atomic -race ./...

      - uses: codecov/codecov-action@v3.0.0
